@charset "UTF-8";

:root {
   --color0: #0d3e84;
   --color1: #EE008D;
   --color2: #75D0D1;
   --color3: #FDC308;
   --color4: #8CC745;
   --color5: #01A0A1;
   --font-garamond: 'EB+Garamond', serif;
   --font-roboto: 'Roboto', sans-serif;
}

.color0 {
   color: var(--color0) !important;
}

.color1 {
   color: var(--color1);
}

.color2 {
   color: var(--color2);
}

.color3 {
   color: var(--color3);
}

.color4 {
   color: var(--color4);
}

.color5 {
   color: #01A0A1;
}

.bg-color2 {
   background-color: var(--color2);
}

.font-garamound {
   font-family: var(--font-garamond);
}

.font-garamound-600 {
   font-family: var(--font-garamond);
   font-weight: 600;
}

.font-roboto {
   font-family: var(--font-roboto);
}

.btn-menu-navbar {
   background-color: var(--color1) !important;
}

.btn-menu-navbar:hover {
   background-color: #e2389e !important;
}

.link-hover-underline:hover {
   text-decoration: underline;
}

.card {
   border: none;
}

.card-img {
   border-radius: 0;
}